<div class="row sticky-top border" >
    <div class="ms-auto w-auto">
        <div class="search">
            <form class="form" [formGroup]="searchForm">

                <input type="text" formControlName="search" class="search__input" placeholder="Type your text">
                <button class="search__button bg-transparent" (click)="search()">
                    <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                            </path>
                        </g>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="d-flex flex-wrap gap-3">
    <div class="card post p-3" *ngFor="let p of products">

        <div class="image">
            <a href="{{p.productimage}}"> <img class="img img-fluid" style="width: 100%; aspect-ratio: 1/1;"
                    src="{{p.productimage}}" alt=""></a>
        </div>

        <div class="title fs-2 fw-1">
            {{p.name}}
        </div>
        <div class="title fs-4 fw-5">
            Prize : {{p.price | currency : 'INR'}}
        </div>
        <div class="title fs-4 fw-5">
            Stock : {{p.stock}}
        </div>
        <div class="description text-truncate">
            {{p.description}}
        </div>

        <div class="d-flex mt-2">
            <!-- <button class="btn"><i class="fa-solid text-warning fa-cart-plus fa-2x"></i>Add to Cart</button> -->
            <button class="btn"><i class="fa-solid  fa-circle-info fa-2x"></i>View Details</button>
            <button class="btn "><i class="fa-solid text-primary fa-cart-shopping fa-2x"></i>Buy Now</button>

        </div>

        <div class="d-flex my-2 " *ngIf="role === 'admin'">
            <a [routerLink]="['/page/addproduct']" [queryParams]="{isedit : true , product : p | json}"><button class="btn-lg btn button"> <i  class="text-primary fa-solid fa-2x fa-pen-to-square"></i> </button></a>
            <button class="btn" (click)="ondelete(p)"><i class="text-danger fa-solid fa-2x fa-trash-can"></i></button>
        </div>


    </div>

</div>