
  .full-height{
    height: 100vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px;
  }
  
  .product-form{
    width: 25%;
  }
  
  
  @media (max-width: 768px) {
    .product-form{
      width: 100%;
    }
  }