<div class="container full-height d-flex justify-content-center align-items-center">
    <div class="col-md-6 w-25 login-form">
        <div class="card">
            <div class="register">
                <form class="form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
                    <button *ngIf="isedit" type="button" class="ms-auto mt-3 border-0 rounded" data-bs-dismiss="modal" aria-label="Close"><i class="pi pi-times"></i></button>
                    <label class="fs-1 fw-1" for="chk" aria-hidden="true" *ngIf="!isedit">Product</label>
                    
                    <label style="margin-top: 0;" aria-hidden="true" *ngIf="isedit">Edit Your Product</label>

                    <input [ngClass]="{'form-control':true , 'border-danger': productForm.get('name')?.invalid && productForm.get('name')?.touched}" for="name" type="text" formControlName="name" placeholder="Name" required="">

                    <div class="text-danger" *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
                        Product Name is required and must contain only alphabetical characters.
                    </div>

                    <input [ngClass]="{'form-control':true , 'border-danger': productForm.get('description')?.invalid && productForm.get('description')?.touched}" for="description" type="text" formControlName="description" placeholder="Description" required="">

                    <div class="text-danger" *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
                        Product Description is required and must contain only alphabetical characters.
                    </div>

                    <input [ngClass]="{'form-control':true , 'border-danger': productForm.get('price')?.invalid && productForm.get('price')?.touched}" for="price" type="number" formControlName="price" placeholder="Price" required="">

                    <div class="text-danger" *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
                        Product Price is required and must contain only number characters.
                    </div>

                    <select aria-label="Small select example" [ngClass]="{'form-select form-select-sm': true , 'border-danger' : productForm.get('category')?.invalid && productForm.get('category')?.touched}" for="category" formControlName="category" placeholder="Category" required="">
                        <option [disabled]="true">Category</option>
                        <option *ngFor="let c of categories" value="{{c._id}}">{{c.name}}</option>
                      </select>
                      <div class="text-danger" *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched">
                        Product Category is required and must contain only number characters.
                    </div>

                    <input [ngClass]="{'form-control': true , 'border-danger' : productForm.get('stock')?.invalid && productForm.get('stock')?.touched}" for="stock" type="number" formControlName="stock" placeholder="Stock" required="">

                    <div class="text-danger" *ngIf="productForm.get('stock')?.invalid && productForm.get('stock')?.touched">
                        Product Stock is required and must contain only number characters.
                    </div>

                    <img *ngIf="isedit" [src]="product?.productimage" height="200">

                    <input type="file" [ngClass]="{'form-control' : true , 'border-danger' : productForm.get('productimage')?.invalid && productForm.get('productimage')?.touched}" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="onFileSelected($event)" accept="image/*" formControlName="productimage" required>

                    <div class="text-danger" *ngIf="productForm.get('productimage')?.invalid && productForm.get('productimage')?.touched">
                        Product Picture is required.
                    </div>

                    <button *ngIf="!isedit" class="btn btn-primary" type="submit">Add product</button>
                    <button *ngIf="isedit" class="btn btn-primary" type="button" (click)="onupdate()">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>


