<div class="flex justify-content-center py-5 ps-3 border border-top-0 border-secondary full-height w-100" >
    <div class="d-flex align-items-center m-2 menu">
        <a class="nav-link active menu" aria-current="page" routerLink="/page/profile"><i class="pi pi-fw pi-user menu"></i> Profile</a>   
    </div>
    <div class="d-flex align-items-center m-2 menu">
        <a class="nav-link active menu" aria-current="page" routerLink="/page/videos"><i class="pi pi-fw pi-video"></i> Videos</a>
    </div>
    <div class="d-flex align-items-center m-2 menu">
        <a class="nav-link active menu" aria-current="page" routerLink="/page/users"> <i class="pi pi-fw pi-users"></i> Users</a>
    </div>
    <div class="d-flex align-items-center m-2 menu">
        <a class="nav-link active menu" aria-current="page" routerLink="/page/images"><i class="pi pi-fw pi-image"></i> Image</a>
    </div>
    <div class="d-flex align-items-center m-2 menu">
        <a class="nav-link active menu" aria-current="page" routerLink="/page/pages"><i class="pi pi-fw pi-save"></i> Pages</a>
    </div>
    <div class="d-flex align-items-center m-2 menu">
        <a class="nav-link active menu" aria-current="page" routerLink="/page/articles"><i class="pi pi-fw pi-align-justify"></i> Article</a>
    </div>
</div>