<div class="container full-height d-flex justify-content-center align-items-center">
    <div class="col-md-6 w-25 login-form" >
        <div class="card">
            <div class="login">
                <form class="form" [formGroup]="loginform" (ngSubmit)="onsubmit()">
                    <label class="fs-3 fw-1" for="chk" aria-hidden="true">Log in</label>

                    <input [ngClass]="{'form-control' : true, 'border-danger' : loginform.controls['email'].invalid && loginform.controls['email'].touched }" type="email" formControlName="email" placeholder="Email" required="">

                    <div class="text-danger" *ngIf="loginform.controls['email'].invalid && loginform.controls['email'].touched"> Please provide email address.</div>

                    <input [ngClass]="{'form-control' : true, 'border-danger' : loginform.controls['email'].invalid && loginform.controls['email'].touched }" type="password" formControlName="password" placeholder="Password" required="">

                    <div class="text-danger" *ngIf="loginform.controls['email'].invalid && loginform.controls['email'].touched"> Please provide  password.</div>

                    <a class="text-decoration-none" routerLink="/auth/signup">Create an account</a>

                    <button class="btn btn-primary" type="submit">Log in</button>
                </form>
            </div>
        </div>
    </div>
</div>