<nav class="Navbar navbar navbar-expand-lg bg-body-tertiary border-bottom border-secondary">
    <div class="container-fluid" >

        <div >
            <img class="profilepic" src="{{imageURL}}" alt="">
        </div>

        <a class="navbar-brand">CMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item menu">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home <i class="pi pi-home"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active menu" aria-current="page" routerLink="/page/addPost">Add content <i class="pi pi-file-plus menu"></i></a>
                </li>
                <li class="nav-item menu" *ngIf="role == 'user'">
                    <a class="nav-link active menu" aria-current="page" href="#">Make your channel <i class="pi pi-youtube menu"></i></a>
                </li>
                <li class="nav-item menu" *ngIf="role != 'user'">
                    <a class="nav-link active menu" aria-current="page" routerLink="/page/myContent">My content <i class="pi pi-briefcase menu"></i></a>
                </li>
            </ul>
            <div class="d-flex align-items-center fs-3 me-3" >{{userName}}  </div>
            <button class="btn text-danger mx-3" (click)="logout()" type="button">Logout <i class="pi pi-user-minus"></i></button>
        </div>
    </div>
</nav>

